= image_tag 'ledelsen.jpg', :width => 400, :height => 400

%p
  Bagerst fra venstre: Susan Oppenlænder (Supp., Kokkedal), Tove Bendtsen (Best.medlem, Kokkedal),
  %br/
  John Sylvester (Best.medlem, Humlebæk), Ibrahim Rashdan (Supp., Kokkedal)
  %br/
  Forrest fra venstre: Awatif El-Ghazi (Kasserer, Kokkedal), Vibeke Poulsen (Næstformand, Nivå)
  %br/
  Rosa Esquives (Formand, Kokkedal), Salwa El-Ali (Best.medlem, Kokkedal)