Velkommen til en ny kulturel forening i dit nærmiljø.
%br/
%br/
Vi er en gruppe borgere fra Fredensborg Kommune,
der har sat sig for, at vi skal have mulighed for at
opleve godt teater i vores kommune.
%br/
%br/
Vi samarbejder fra starten med Helsingør Teater
og Kokkedal på Vej om at skaffe spændende teatergrupper,
og vi ønsker at samarbejde med andre
initiativer på teaterområdet – i vores lokalområde.
%br/
%br/
Hvorfor i alverden skal vi have mere teater til
Nordsjælland? 
%br/
%br/
Hvorfor ikke bare tage af sted til
København eller Malmø, hvor de store forestillinger
spiller - og er det ikke nok at gå i biografen?
%br/
%br/
Teater er, i modsætning til biografens lærred, dramaer,
som levende udspiller sig lige foran os. 
%br/
%br/
Nødvendige, sjove og spændende historier, som fortælles i det
direkte møde med sit publikum.
%br/
%br/
Derfor har vi taget initiativ til en teaterforening i
Fredensborg Kommune - med teater for alle sanser og
for alle aldre.
%br/
%br/
På sigt ønsker vi også at arrangere teaterture.
%br/
Vi ønsker dig gode, sjove, spændende og fantastiske
oplevelser i teaterforeningen. Tilmeld dig og bliv en
del af fællesskabet.
%br/
%br/
%br/
Hjertelige hilsner
%br/
Rosa Esquives
%br/
Formand for Teaterforeningen Fredensborg Kommune
%br/
%br/