Velkommen til en ny kulturel forening i dit nærmiljø.
Vi er en gruppe borgere fra Fredensborg Kommune,
der har sat sig for, at vi skal have mulighed for at
opleve godt teater i vores kommune.
Vi samarbejder fra starten med Helsingør Teater
og Kokkedal på Vej om at skaffe spændende teatergrupper,
og vi ønsker at samarbejde med andre
initiativer på teaterområdet – i vores lokalområde.
Hvorfor i alverden skal vi have mere teater til
Nordsjælland? Hvorfor ikke bare tage af sted til
København eller Malmø, hvor de store forestillinger
spiller - og er det ikke nok at gå i biografen?
Teater er, i modsætning til biografens lærred, dramaer,
som levende udspiller sig lige foran os. Nødvendige,
sjove og spændende historier, som fortælles i det
direkte møde med sit publikum.
Derfor har vi taget initiativ til en teaterforening i
Fredensborg Kommune - med teater for alle sanser og
for alle aldre.
På sigt ønsker vi også at arrangere teaterture.
Vi ønsker dig gode, sjove, spændende og fantastiske
oplevelser i teaterforeningen. Tilmeld dig og bliv en
del af fællesskabet.
Hjertelige hilsner
Rosa Esquives
Formand for Teaterforeningen Fredensborg Kommune TEATERFORENINGEN