%h3 Vedtægter

%p
  §1.
  %br/
  Teaterforeningens navn er Teaterforeningen for Fredensborg Kommune.
  %br/
  %br/
  Teaterforeningen er hjemmehørende i Fredensborg Kommune.
  
%p  
  §2.
  %br/
  Teaterforeningens formål er, at administrere teaterlovens bestemmelser efter gældende lovgivning omkring teatervirksomhed, med henblik på at fremme teaterinteressen inden for foreningens område. Herudover bør teaterforeningen supplere det lokale teatertilbud med teater-forestillinger uden for abonnement for børn og voksne. 
  %br/
  %br/
  Foreningens overskud anvendes udelukkende til foreningens formål.
  %br/
  %br/
  Teaterforeningen medvirker desuden til at skabe tilfredsstillende bygningsmæssige forhold for teatervirksomhed, ligesom foreningen kan medvirke til at skabe og øge interessen for andre kulturelle arrangementer. 
  Teaterforeningen samarbejder med kulturudvalget i Fredensborg Kommune.
%p  
  § 3.
  %br/
  Foreningen fastlægger de abonnementsordninger, der skal være gældende, idet der kan etableres samarbejder med andre teaterforeninger og udbydere af teater. Ved fastlæggelsen bør der tages behørigt hensyn til sikring af rabat ved samlet køb af flere forestillinger. 
  Der bør videre rettes formidlingsaktiviteter mod børn og unge samt grupper, der sjældent kommer i teatret.
  Abonnement kan tegnes af enhver, der er tilmeldt folkeregistret i Danmark.
  Videresalg i erhvervsmæssigt øjemed er ikke tilladt. 
  Foreningens medlemmer udgøres af abonnenterne.
  Ved tegning af abonnement betales et kontingent, der fastsættes på generalforsamlingen.
%p  
  § 4.
  %br/
  Teaterforeningen forpligter sig til alsidighed i repertoiret, idet den køber forestillinger af det producerende teater og oppebærer formidlingstilskud, indtægter ved anden form for billetsalg og indtægter i form af offentlige tilskud.
%p  
  § 5.
  %br/
  Foreningens medlemmer (abonnenterne) og bestyrelsesmedlemmerne hæfter ikke personligt for teaterforeningens forpligtelser.
%p  
  § 6.
  %br/
  Foreningens bestyrelse består af 5 til 9 medlemmer og søges sammensat af personer med bredest mulig tilknytning til det lokale miljø. Det bør om muligt tilstræbes, at bestyrelsen tilsammen repræsenterer teaterfaglig, kunstnerisk, ledelsesmæssig, markedsføringsmæssig og juridisk indsigt og geografisk spredning indenfor Fredensborg Kommune.
  Bestyrelsesmedlemmer samt 2 suppleanter for disse vælges af generalforsamlingen ved simpelt
  stemmeflertal. Samtlige valg gælder for 2 år, idet halvdelen af medlemmerne afgår hvert andet år.
  Genvalg kan finde sted.
  Fredensborg Kommune kan udpege et medlem til bestyrelsen.
%p  
  § 7.
  %br/
  Bestyrelsen konstituerer sig med formand, næstformand og kasserer samt evt. sekretær og fastsætter om fornødent sin forretningsorden. Formand, næstformand og kasserer udgør forretningsudvalget. Forretningsudvalget varetager den daglige drift, men har ingen selvstændig beslutningskompetence i større sager. Udvalget forbereder sagerne til bestyrelsen og udarbejder dagsorden til bestyrelsesmøderne.
  Bestyrelsen er beslutningsdygtig, når mindst 4 bestyrelsesmedlemmer deltager. Beslutningerne træffes ved simpel stemmeflerhed. Ved stemmelighed er formandens stemme afgørende.
  Over forhandlingerne føres en protokol. Teaterforeningen forpligtes ved formandens underskrift alene eller ved to bestyrelsesmedlemmers underskrift.
  Bestyrelsen kan meddele prokura. 
  Bestyrelsen kan ansætte lønnet medhjælp i henhold til godkendt budget.
%p  
  § 8.
  %br/
  Teaterforeningens regnskabsår løber fra 1. juli til 30. juni. Bestyrelsen forvalter teaterforeningens midler. Bestyrelsen har ansvar for udarbejdelse af regnskaber og budgetter og disses rettidige indsendelse til de tilskudsgivende myndigheder.
  Regnskabet revideres på baggrund af de af Kunststyrelsen fastsatte 
  Regnskabet revideres på baggrund af Kunststyrelsen gældende lovgivning omkring teatervirksomhed.
%p  
  § 9.
  %br/
  Generalforsamlingen er teaterforeningens øverste myndighed. Stemmeret på generalforsamlingen har enhver registreret abonnent i den sidst afviklede sæson.
  Afstemningen skal ske mundtligt, medmindre en af de stemmeberettigede forlanger skriftlig afstemning. Alle beslutninger træffes på generalforsamlingen ved simpel stemmeflerhed. 
  Ordinær generalforsamling afholdes hvert år inden udgangen af november måned. Der indkaldes til generalforsamling ved bekendtgørelse i et lokalt dagblad eller ugeavis med 14 dages varsel. Bestyrelsen fastsætter mødested og -tid.
  Dagsordenen for den ordinære generalforsamling skal som minimum omfatte følgende:
  %br/
  %br/
  1. Valg af dirigent.
  %br/
  2. Formanden aflægger beretning.
  %br/
  3. Det reviderede regnskab for det sidst afsluttede regnskabsår fremlægges til godkendelse. 
  Der orienteres om foreløbigt budget for den nye sæson.
  %br/
  4. Indkomne forslag a) fra bestyrelsen, b) fra medlemmerne.
  %br/
  5. Fastsættelse af medlemskontingent.
  %br/
  6. Valg af bestyrelse og suppleanter.
  %br/
  7. Valg af revisor.
  %br/
  8. Eventuelt.
  %br/
  %br/
  Forslag til behandling på generalforsamlingen skal være bestyrelsen i hænde senest 8 dage før generalforsamlingen. Ekstraordinær generalforsamling kan indkaldes af bestyrelsen og skal indkaldes, når mindst 25 medlemmer fremsætter skriftlig begæring herom. En sådan generalforsamling skal afholdes inden en måned fra begæringens modtagelse.
%p  
  § 10.
  %br/
  Beslutninger om ændring i foranstående vedtægter eller foreningens ophævelse kan kun træffes, når det sker på to på hinanden følgende generalforsamlinger med mindst 14 dages mellemrum. Vedtagelse skal ske med kvalificeret flertal på mindst 75 % af de fremmødte stemmeberettigede på første generalforsamling. Ved 2. generalforsamling kræves alene simpelt flertal til vedtagelsen af forslaget. 
  
  Ved foreningens ophør eller ophævelse, skal dens formue i det hele anvendes i overensstemmelse med foreningens formål, idet fordelingen anvises af den siddende bestyrelse og godkendes af kulturudvalget i foreningens hjemkommune forinden udlodning kan finde sted. 
    