%h3 KONTAKT

%p
  %strong Teaterforening Fredensborg Kommune
  %br/
  Rosa Esquives
  %br/
  Nordengen 13
  %br/
  2980 Kokkedal
  %br/
  Tlf: 4841 6637
  %br/
  = mail_to 'rosa_esquives@hotmail.com'

%p

  %strong Billetsalg
  %br/
  %i Info fra Helsingør teater
