%h3 KONTAKT

%p
  %strong Teaterforening Fredensborg Kommune
  %br/
  Rosa Esquives
  %br/
  Nordengen 13
  %br/
  2980 Kokkedal
  %br/
  Tlf: 4841 6637
  %br/
  = mail_to 'rosa_esquives@hotmail.com'

%p

  %strong Billetsalg
  %br/
  %br/
  Helsingør Billetcenter
  %br/
  Havnepladsen 1
  %br/
  3000 Helsingør
  %br/
  = mail_to 'billet@helsingor-teater.dk', 'billet@helsingor-teater.dk'
  %br/
  tlf. 4920 0811 (man-fre 12-16)

