%p
  Hent programmet for gadeteaterugen samt teaterforenings kommende sæson 
  = link_to 'her', '/pdf/Program1112.pdf', :class => 'generic_link'
  %br/
  %br/
  = image_tag 'brochure.jpg', :width => 100, :height => 100
