%p
  Hent programmet for gadeteaterugen samt teaterforenings kommende sæson 
  = link_to 'her', '/pdf/Program1112.pdf', :class => 'generic_link'
  = image_tag 'brochure.jpg', :width => 50, :height => 50
