%h3 Priser og rabatter

%p
  Som medlem af teaterforeningen modtager du information og nyhedsbreve om foreningens aktiviteter.
  %br/
  Medlemsskabet strækker sig fra juli 2011 - juni 2012. Som medlem får du rabat på billetter og desuden fuld
  %br/
  abonnementsrabat på Helsingør Teaters abonnementsforestillinger.
  %br/
  Et medlemskab koster 50 kr. som bedes indbetalt på konto: Nordea regnr. 2415 kontonr. 0714190563.
  %br/
  Ved indbetaling skal der skrives fornavn, efternavn, adresse, mail og telefonnummer. Du vil herefter modtage
  %br/
  besked fra teaterforeningen.