%h3 Løssalg

%p
  Billetsalg og information:
  %br/
  %br/
  Helsingør Billetcenter
  %br/
  Havnepladsen 1
  %br/
  3000 Helsingør
  %br/
  billet@helsingor-teater.dk
  %br/
  tlf. 4920 0811 (man-fre 12-16)