%h3 Løssalg

%p
  Billetsalg og information:
  %br/
  %br/
  Helsingør Billetcenter
  %br/
  Havnepladsen 1
  %br/
  3000 Helsingør
  %br/
  = mail_to 'billet@helsingor-teater.dk', 'billet@helsingor-teater.dk', :class => 'generic_link'
  %br/
  tlf. 4920 0811 (man-fre 12-16)