%h3= @gallery.title

- @gallery.images.each do |gallery|
  .image_box{:style => 'float:left;margin-right:4px;'}
    %a{:href => gallery.image, :class => 'image'}
      = image_tag gallery.image, :width => 100, :height => 100 if gallery.image?


