a {
  color: #000 !important;
  text-decoration: none !important;
  background: none !important;
}
.menu a, .menu a:visited, .menu a:active {
  color: #000 !important;
  text-decoration: none !important;
}
.menu a:hover {
  background: none !important;
  color: #000 !important;
  text-decoration: underline !important;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url('core/background.png') repeat-x scroll 0 179px;
  width: 100%;
}

.container {

  #header {
    width: 1000px;
    height: 150px;
<<<<<<< HEAD
    padding-top: 20px;
=======
    padding-top: 21px;
>>>>>>> development
    text-align: center;
    margin: auto;

    #title {
      margin-top: 40px;
      margin-left: 20px;
    }

    .logo img {
      width: 96px;
      height: 109px;
    }
  }

  section {
<<<<<<< HEAD
    margin: auto;
=======
    margin: 0 auto;
>>>>>>> development
    border-top: 1px solid #c2bd9f;
    height: 100%;
    display: block;
    clear: both;
    width: 1024px;

    #core {
      width: 100%;
      
      #main_content {
<<<<<<< HEAD
        width: 800px;
        min-height: 600px;
        margin: auto;
=======
        width: 580px;
        min-height: 600px;
        margin-left: 200px;
        border-top:1px solid #c2bd9f;
>>>>>>> development
      }

    .spacer {
      width: 1px;
      height: 100%;

      #left {
        float: left;
      }
      #right {
        float: right;
      }
    }
      
    /* MENU START */
    #menu {
      float: left;
      margin-left: 20px;
      margin-top: 20px;
      padding: 0;

      ul {
        padding: 0;
        font-size: 16px;
        list-style-type: none;
      }
      .submenu {
        display: none;
      }
      li:hover {
        margin: 0;
        padding: 0;
        clear: both;
        
        ul.submenu {
          font-size: 14px;
          display: inline-block;
          position: absolute;
          float: right;
          margin-left: 40px;
          
          li {
            text-align: right;
          }
        }
      }

      .admin_menu {
        a {
          font-size: 12px !important;
        }
      }
    }
    /* MENU END */
      
    #side_content {
<<<<<<< HEAD
      float: left;
    
      #calendar_wrapper {
        width: 180px !important;
=======
      float: right;
      padding: 10px;
    
      #calendar_wrapper {
        background: url('calendar/cal_bg.png') no-repeat 2px 0; 
        width: 200px!important;
        padding:10px;
>>>>>>> development
      }
    }
    }
  }
}
#footer {
    text-align: center;
    height: 38px;
    width: 100%;
    background: #eaeaea;
    border-top: 1px solid #dedede;
    float: left;
    margin-bottom: 0;
    padding-top: 5px;
    font-size: 14px;
  }