a {
  color: #000 !important;
  text-decoration: none !important;
  background: none !important;
}
.menu a, .menu a:visited, .menu a:active {
  color: #000 !important;
  text-decoration: none !important;
}
.menu a:hover {
  background: none !important;
  color: #000 !important;
  text-decoration: underline !important;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: url('core/background.png') repeat-x scroll 0 170px;
  width: 100%;
  margin:0!important;
}

.container {

  #header {
    width: 900px;
    height: 150px;
    padding-top: 21px;
    text-align: center;
    margin: auto;

    #title {
      margin-top: 40px;
      border: none;
    }

    .logo img {
      width: 96px;
      height: 109px;
    }
  }

  section {
    margin: 0 auto;
    height: 100%;
    display: block;
    clear: both;
    width: 1024px;

    #core {
      width: 100%;
      
      #main_content {
        width: 580px;
        min-height: 600px;
        margin-left: 200px;
        
        #content_wrapper{
          padding:0 20px;
        }
        
        .news {
          margin-bottom:10px;
          width:500px;
          height: 180px;
        }
      }

    .spacer {
      width: 1px;
      height: 100%;

      #left {
        float: left;
      }
      #right {
        float: right;
      }
    }
      
    /* MENU START */
    #menu {
      float: left;
      margin-left: 0px;
      margin-top: 20px;
      padding: 0;
      width: 180px;

      ul {
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        list-style-type: none;
      }
      .submenu {
        display: none;
      }
      li{
        padding-right:20px
      }
      li:hover {
        margin: 0;
        padding-right:20px;
        clear: both;
        
        ul.submenu {
          font-size: 12px;
          display: block;
          position: absolute;
          float: right;
          margin-left: 80px;
          
          li {
            text-align: right;
          }
        }
      }

      .admin_menu {
        a {
          font-size: 12px !important;
        }
      }
    }
    /* MENU END */
      
    #side_content {
      float: right;
      padding: 10px;
    
      #calendar_wrapper {
        background: url('calendar/cal_bg.png') no-repeat 2px 0; 
        width: 200px!important;
        padding:12px;
      }
    }
    }
  }
}
#footer {
    text-align: center;
    height: 38px;
    width: 100%;
    background: #eaeaea;
    border-top: 1px solid #dedede;
    float: left;
    margin-bottom: 0;
    padding-top: 5px;
    font-size: 14px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }
.flash {
	padding: 4px 0 4px 4px; 
	margin-left: 30px;
	margin-right: 10px;
} 
#notice {
  color: green;
  background-color: #EBFFEB;
  border: 1px solid #9DFF9D; 
}
#error {
	color: red;
	background-color: #FFEBE8;
  border: 1px solid #DD3C10;	
}
#alert {
	color: blue;
	background: #EAF2F5;
  border: 1px solid #BEDCE7;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
