%h3 Billeder
.images
  - @images.each do |image|
    .image_box{:style => 'float:left;margin-right:4px;'}
      = link_to image do
        = image_tag image.image, :width => 100, :height => 100, :class => 'image'
  