<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @place.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @place.email %>
</p>

<p>
  <b>Link:</b>
  <%= @place.link %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
