<<<<<<< HEAD
.logo{:style=>'float:left;'}= image_tag 'logo.gif'
.logo{:style=>'float:right;'}= image_tag 'logo.gif'
=======
>>>>>>> 88160cf312e3deea8b89ba90337c2c1c671babc0
%a{:href=>'/'}
  .logo{:style=>'float:left;'}= image_tag 'logo.gif', :style => 'border:none;'
  #title
    = image_tag 'core/header.png', :style => 'border:none;'



