%ul
  %li
    %u Om os
  %ul
    %li Bestyrelsen
    %li Vedtægter
    %li Samarbejdspartnere

  %li
    %u Billetter
  %ul
    %li Bliv medlem
    %li Priser og rabatter
    %li Billetter i løssalg

  %li
    %u Program
  %ul
    %li Voksenteater
    %li Børneteater
    %li Gadeteater
    %li Teaterture

  %li
    %u Spillesteder
  %ul
    %li Fredensborg
    %ul
      %li Fredensborg Bio

    %li Humlebæk
    %ul
      %li Humlebæk Bio

    %li Nivå
    %li Kokkedal

  %li
    %u= link_to 'Galleri', galleries_path
  %li
    %u Kontakt